// call the fonts
@font-face {
    font-family: 'striverx';
    src: url('img/striverx-webfont.woff2') format('woff2'),
         url('img/striverx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$ff-title: 'striverx', script;
$ff-body: 'Roboto Mono', monospace;

